//Global Varibalies
$color-blue: #00609c;
$color-grey: #eee;
$color-black: #000;
$color-white:#fff;
$color-pink: #c017a2;

$font-italic: italic;
$default-font-size: 2rem;
$small-font-size: 1rem;
$font-weight: 300;
